body, html {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #cc3232;
}
a:visited {
  color: #cc3232;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
h1.title {
  float: left;
  color: black;
}
div.header {
  width: 100%;
  background-color: #f0b506;
  float: left;
}
div.hamburger {
  float: right;
  height: 2em;
}
div.hamburger:hover {
  cursor: pointer;
}
div.footer {
  width: 100%;
  background-color: #6a6a6a;
  height: 4em;
  position: absolute;
  bottom: 0;
  left: 0;
}
div.wrapper {
  min-height: 100%;
  position: relative;
  background-color: #c9c9c9;
}
div.container {
  width: 100%;
  margin: 0 auto;
  float: left;
}
div.content {
  background-color: #ffffff;
  float: left;
  margin-bottom: 4em;
  width: 100%;
}
section.main {
  background-color: #ffffff;
  padding: 2% 1% 2% 2%;
  float: left;
  font-size: 1.2em;
  width: 97%;
}
div.notification {
  animation: notification;
  animation-duration: 1s;
  background-color: #b60000;
  padding: 0.5em 2em;
  text-align: center;
  color: #ffffff;
}
nav {
  padding-top: 4%;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 97.5%;
  width: 60%;
  display: none;
  background-color: #ffffff;
  z-index: 2;
  animation-name: hamburger;
  animation-duration: 0.6s;
  font-size: 2em;
}
nav li {
  background-color: #b60000;
  width: 95%;
  padding-left: 5%;
  border-bottom: 2px solid #ffffff;
}
nav a:visited {
  color: #ffffff;
}
form label {
  display: block;
}
form input {
  display: block;
  width: 20em;
}
form textarea {
  width: 30em;
  height: 15em;
}
@media screen and (min-width: 50em) {
  nav {
    display: block !important; // overwrite the embedded style in element
    z-index: 0;
    position: relative;
    background-color: #ffffff;
    float: left;
    width: 20%;
    min-height: 12em;
    animation-name: none;
    font-size: 1.2em;
  }
  nav li {
    margin-left: -10%;
  }
  nav li:hover {
    background-color: #b54848;
  }
  div.container {
    width: 77%;
    margin-left: 17%;
    float: left;
  }
  div.content {
    width: 88%;
  }
  section.main {
    padding-left: 2%;
    padding-right: 1%;
    width: 75%;
    float: left;
  }
  div.hamburger {
    display: none;
  }
}
@keyframes hamburger {
  from {
    left: -40em;
  }
  to {
    left: 0;
  }
}
@keyframes notification {
  from {
    max-height: 0;
  }
  to {
    max-height: 4em;
  }
}
