.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 900px;
  background-color: white;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: lightgrey;
}

div.postform {
  width: 60%;
}
